body {
    margin: 0;
    padding: 0 0 50px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    width: 900px;
    margin: auto;
}

.description {
    padding: 10px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid black;
    width: 100%;
}


#price-graph {
    /* border: 1px solid black; */
}

@media screen and (max-width: 992px) {
    body {
        padding: 0 20px;
    }

    .app {
        width: 100%;
    }
}

#coin-dropdown {
    margin-bottom: 20px;
    margin-top: 10px;
}

.slider {
    margin: 20px 0;
}

.info {
    background-color: rgb(208, 235, 244);
    color: color(srgb 0.2919 0.5942 0.695);
    padding: 10px 20px;
    font-size: 0.8rem;
    margin: 20px 0;
}

.label {
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: 700
}

.help {
    margin-bottom: 10px;
    font-size: 0.7rem;
    color: rgb(163, 163, 163);
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.col {
    flex: 1;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}



table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.green {
    color: #4CAF50;
}

.red {
    color: #F44336;
}

td:nth-child(2) {
    width: 70%;

}

.bold {
    font-weight: 600;
}

i.fa-solid,
i.fa-brands {
    margin: 0 8px;
}